<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="">
    <h1>标题</h1>
    <div class="">
      我叫<%=name%>，今年<%=age%>岁
    </div>
  </div>
</body>
</html>
