<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    .box{
      border: 1px solid #ccc;
      display: flex;
      list-style: none;
    }
    .box li{
      flex: 1;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border: 3px solid red;
    }
    .first{
      padding: 0 30px;
      margin: 0 10px;
      max-width: 200px;
    }
  </style>
</head>
<body>
  <ul class="box">
    <li class="first">1111</li>
    <li>2222</li>
    <li>3333</li>
    <li>4444</li>
    <li>5555</li>
    <li>6666</li>
  </ul>
</body>
</html>
